root {
    --light-yellow: #FFF500;
    --light-green: #8DDC8A;
    --red: #FF6969;
}

.setting-name {
    -fx-font-size: 10pt;
    -fx-font-weight: 600;
}

.setting-value {
    -fx-font-size: 10pt;
    -fx-font-weight: 400;
}