#buttonOptionA {
    -fx-background-color: backgroundColor;
}

#buttonOptionB {
    -fx-background-color: backgroundColor;
}

#buttonOptionC {
    -fx-background-color: backgroundColor;
}

#buttonOptionD {
    -fx-background-color: backgroundColor;
}

#labelOptionA {
    -fx-text-fill: answersTextColor;
}

#labelOptionB {
    -fx-text-fill: answersTextColor;
}

#labelOptionC {
    -fx-text-fill: answersTextColor;
}

#labelOptionD {
    -fx-text-fill: answersTextColor;
}

.questionArea {
    -fx-background-color: backgroundColor;
}

.chosen-answer {
    -fx-background-color: chosenAnswerColor;
}

.chosen-answer .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button-disabled {
    -fx-background-color: disabledButtonColor !important;
}

.correct-answer {
    -fx-background-color: correctAnswerColor !important;
}

.correct-answer .label {
    -fx-font-size: 20px !important;
    -fx-font-weight: bold !important;
}

.incorrect-answer {
    -fx-background-color: incorrectAnswerColor !important;
}
