#authenticationAnchor{
    -fx-background-image: url("/client/images/background.jpg");
    -fx-background-size: cover;
}

#wrongCredentials{
    -fx-text-fill : red;
}

#userExists{
    -fx-text-fill : red;
}

#passwordField{
    -fx-background-color: #C4C4C4;
}

#emailField{
    -fx-background-color: #C4C4C4;
}

#pane{
    -fx-background-color: white
}

#pane1{
    -fx-background-color: white
}

#pane2{
    -fx-background-color: white
}

#usernameField{
    -fx-background-color: #C4C4C4;
}

#usernameSetButton{
    -fx-background-color: #6EB26C;
}

#signUpButton{
    -fx-background-color: #6EB26C;
}

#haveAccountButton{
    -fx-background-color: #DFD93F;
}

#urlField{
    -fx-background-color: #C4C4C4;
}

#connectButton{
    -fx-background-color: #6EB26C;
}